* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html {
  height: 100%;
}
body {
  height: 100%;
}
#root {
  padding: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: scroll;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav img {
  width: 50px;
}
.hstack {
  display: flex;
  gap: 10px;
}
.vstack {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.products-container {
  flex-grow: 5;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.product-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  width: 100%;
  padding: 10px;
  background-color: rgb(242, 242, 247);
  border: 2px solid rgb(199, 199, 204);
  border-radius: 10px;
}
.product-card img {
  height: 100px;
  max-width: 100%;
  object-fit: cover;
}
button {
  padding: 5px 15px;
  border: 2px solid rgb(174, 174, 178);
  background-color: rgb(229, 229, 234);
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.2s ease;
  gap: 0px !important;
}
button * {
  text-align: center;
  width: 100%;
}
button:hover {
  background-color: rgb(174, 174, 178);
}
.good-btn {
  background-color: rgb(52, 199, 89);
  border-color: rgb(36, 178, 61);
}
.good-btn:hover {
  background-color: rgb(36, 178, 61);
}
.bad-btn {
  background-color: rgb(255, 59, 48);
  border-color: rgb(235, 0, 21);
}
.bad-btn:hover {
  background-color: rgb(235, 0, 21);
}
.bad-btn, .good-btn {
  color: white;
}
.qty-counter {
  display: flex;
  gap: 10px;
  align-items: center;
}
.qty-counter button {
  font-family: monospace;
}
.qty-counter p {
  min-width: 20px;
  text-align: center;
}
.item-controls > button {
  min-width: 100%;
}
.cart-bg {
  background-color: rgb(242, 242, 247);
  border: 2px solid rgb(199, 199, 204);
  border-radius: 10px;
  padding: 10px;
}
.cart-container {
  display: flex;
  flex-direction: column;
  gap: 2px;
  max-width: 300px;
  min-width: 300px;
  background-color: rgb(199, 199, 204);
}
.cart-item {
  background-color: rgb(242, 242, 247);
  padding: 10px 0px;
}
.cart-item img{
  height: 100px;
  width: min-content;
}
.item-details {
  align-items: center;
}
.item-total {
  width: 100%;
  height: inherit;
  justify-content: center;
}
.item-total * {
  width: 100%;
}